@media screen and (min-width: 768px) and (max-width: 992px){
  
    body{
        background-color: rgb(218, 214, 214);
    }
    
    form{
        margin: 20px;
    }
    .main{
        position: absolute;
          top: 50vh;
          left: 50%;
          transform: translate(-50%, -50%);
    
        background-color: white;
        border-radius: 7px;
        width: 500px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
    
    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color:rgb(6, 111, 122);
        padding: 18px 0;
        border-radius: 5px 5px 0 0;
    }
    
    label{
        display: block;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    
    input{
        width: 100%;
        padding: 15px;
        border: none;
        margin-bottom: 10px;
        border-radius: 7px;
        background-color: transparent;
        border: 1px solid rgb(143, 143, 143);
        outline: none;
    }
    
    input:hover,
    input:focus {
        border: 1px solid rgb(36, 122, 184);
    }
    
    .button-entrar{
        width: 100%;
        padding: 15px;
        background-color: rgb(108, 165, 206);
        margin: 20px 0 0 0;
        border: none;
        border-radius: 7px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    
    button:hover{
        background-color: rgb(36, 122, 184);
    }
    
    .botao-criar{
        padding: 15px;
        background-color: rgb(251, 173, 78);
        width: 50%;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        border-radius: 7px;
        margin-bottom: 20px;
    }
    
    .botao-criar:hover{
        background-color: rgb(255, 140, 0);
    }
    
    .botao-cadastro-caixa{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    hr{
        width: 70%;
        
    }
    
    .hr{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 20px 0;
    }
    
    .inf-adicional{
        position: absolute;
          top: 87vh;
          left: 50%;
          transform: translate(-50%, -50%);
    }
    
    .rapido{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }
    
    .cancelar{
        padding: 15px;
        background-color: rgb(185, 184, 184);
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        border-radius: 7px;
        margin-bottom: 20px;
        margin-left: 20px; 
    }
    
    .cancelar:hover{
        background-color: rgb(94, 93, 93);
    }
    
    .botao-cadastro{
        padding: 15px;
        background-color: rgb(108, 165, 206);
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        border-radius: 7px;
        margin-bottom: 20px;
        border: none;
        cursor: pointer;
    }
    
    .botao-caixa{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .texto-erro{
        color: red;
        margin: 5px;
    }
    /* botao dentro do input :  "wrapping"*/
    .input-com-botao{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .input-com-botao img{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .olho{
        width: 30px;
        height: 30px;
        filter: invert(50%);
    }
  
}